<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
</head>
<body>

    <nav th:replace="partials :: navbar"> </nav>
    <header th:replace="partials :: header"></header>

    <h3> Number Guessed: <span th:text = "${guess}"> Error </span></h3>
    <h3> Number Generated: <span th:text=" ${number}"> Error </span> </h3>
    <div th:if="${correct}">
        <p> You guessed correctly!</p>
    </div>

    <footer th:replace="partials :: footer"></footer>


</body>
</html>